.comets {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/43/Comets_and_Shooting_Stars_Dance_Over_Paranal.jpg");
}
.milky-way {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/1e/Forest-night-sky-spruce-trees-stars_-_West_Virginia_-_ForestWander.jpg");
}
.night-sky {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5e/Bright_Stars_of_Milky_Way_on_the_Dark_blue_Sky_of_Astronomy.jpg");
}
.skyline {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/21/The_New_York_City_skyline_just_before_sunrise_December_17,_2011.jpg");
}
.waterfall {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/36/Hopetoun_falls.jpg");
}
.flower {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/03/%28www.mrlupen.com%29_nature_0091.jpg");
}
.desert {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/75/Mojave_Desert-2067.jpg");
}
.storm {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/04/Storm_over_Miami_Beach.jpg");
}
.dashbot__col {
  display: inline-block;
  box-sizing: border-box;
  height: 100%;
}
.dashbot-col__1 {
  width: 100%;
}
.dashbot-col__2 {
  width: 50%;
}
.dashbot-col__3 {
  width: 33.333333%;
}
.dashbot-col__4 {
  width: 25%;
}
.dashbot-col__5 {
  width: 20%;
}
@font-face {
  font-family: 'roboto';
  src: url("Roboto-Regular-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto';
  src: url("Roboto-Medium-webfont.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: roboto;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.dashbot {
  position: absolute;
  background-color: #222;
  background-image: url("http://upload.wikimedia.org/wikipedia/commons/1/1e/Forest-night-sky-spruce-trees-stars_-_West_Virginia_-_ForestWander.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.dashbot__row {
  display: block;
}
.dashbot-row__1 {
  height: 100%;
}
.dashbot-row__1 .bigFont {
  font-size: 40px;
}
@media only screen and (min-height: 400px) {
  .dashbot-row__1 .bigFont {
    font-size: 80px;
  }
}
@media only screen and (min-height: 700px) {
  .dashbot-row__1 .bigFont {
    font-size: 120px;
  }
}
@media only screen and (min-height: 1000px) {
  .dashbot-row__1 .bigFont {
    font-size: 160px;
  }
}
.dashbot-row__1 .mediumFont {
  font-size: 12px;
}
@media only screen and (min-height: 400px) {
  .dashbot-row__1 .mediumFont {
    font-size: 18px;
  }
}
@media only screen and (min-height: 700px) {
  .dashbot-row__1 .mediumFont {
    font-size: 24px;
  }
}
@media only screen and (min-height: 1000px) {
  .dashbot-row__1 .mediumFont {
    font-size: 30px;
  }
}
.dashbot-row__2 {
  height: 50%;
}
.dashbot-row__2 .bigFont {
  font-size: 40px;
}
@media only screen and (min-height: 400px) {
  .dashbot-row__2 .bigFont {
    font-size: 80px;
  }
}
@media only screen and (min-height: 700px) {
  .dashbot-row__2 .bigFont {
    font-size: 120px;
  }
}
@media only screen and (min-height: 1000px) {
  .dashbot-row__2 .bigFont {
    font-size: 160px;
  }
}
.dashbot-row__2 .mediumFont {
  font-size: 12px;
}
@media only screen and (min-height: 400px) {
  .dashbot-row__2 .mediumFont {
    font-size: 18px;
  }
}
@media only screen and (min-height: 700px) {
  .dashbot-row__2 .mediumFont {
    font-size: 24px;
  }
}
@media only screen and (min-height: 1000px) {
  .dashbot-row__2 .mediumFont {
    font-size: 30px;
  }
}
.dashbot-row__3 {
  height: 33.333333%;
}
.dashbot-row__3 .bigFont {
  font-size: 40px;
}
@media only screen and (min-height: 400px) {
  .dashbot-row__3 .bigFont {
    font-size: 80px;
  }
}
@media only screen and (min-height: 700px) {
  .dashbot-row__3 .bigFont {
    font-size: 120px;
  }
}
@media only screen and (min-height: 1000px) {
  .dashbot-row__3 .bigFont {
    font-size: 160px;
  }
}
.dashbot-row__3 .mediumFont {
  font-size: 12px;
}
@media only screen and (min-height: 400px) {
  .dashbot-row__3 .mediumFont {
    font-size: 18px;
  }
}
@media only screen and (min-height: 700px) {
  .dashbot-row__3 .mediumFont {
    font-size: 24px;
  }
}
@media only screen and (min-height: 1000px) {
  .dashbot-row__3 .mediumFont {
    font-size: 30px;
  }
}
.dashbot-row__4 {
  height: 25%;
}
.dashbot-row__4 .bigFont {
  font-size: 40px;
}
@media only screen and (min-height: 400px) {
  .dashbot-row__4 .bigFont {
    font-size: 80px;
  }
}
@media only screen and (min-height: 700px) {
  .dashbot-row__4 .bigFont {
    font-size: 120px;
  }
}
@media only screen and (min-height: 1000px) {
  .dashbot-row__4 .bigFont {
    font-size: 160px;
  }
}
.dashbot-row__4 .mediumFont {
  font-size: 12px;
}
@media only screen and (min-height: 400px) {
  .dashbot-row__4 .mediumFont {
    font-size: 18px;
  }
}
@media only screen and (min-height: 700px) {
  .dashbot-row__4 .mediumFont {
    font-size: 24px;
  }
}
@media only screen and (min-height: 1000px) {
  .dashbot-row__4 .mediumFont {
    font-size: 30px;
  }
}
.dashbot-row__5 {
  height: 20%;
}
.dashbot-row__5 .bigFont {
  font-size: 40px;
}
@media only screen and (min-height: 400px) {
  .dashbot-row__5 .bigFont {
    font-size: 80px;
  }
}
@media only screen and (min-height: 700px) {
  .dashbot-row__5 .bigFont {
    font-size: 120px;
  }
}
@media only screen and (min-height: 1000px) {
  .dashbot-row__5 .bigFont {
    font-size: 160px;
  }
}
.dashbot-row__5 .mediumFont {
  font-size: 12px;
}
@media only screen and (min-height: 400px) {
  .dashbot-row__5 .mediumFont {
    font-size: 18px;
  }
}
@media only screen and (min-height: 700px) {
  .dashbot-row__5 .mediumFont {
    font-size: 24px;
  }
}
@media only screen and (min-height: 1000px) {
  .dashbot-row__5 .mediumFont {
    font-size: 30px;
  }
}
.dashbot-row__6 {
  height: 16.6667%;
}
.dashbot-row__6 .bigFont {
  font-size: 40px;
}
@media only screen and (min-height: 400px) {
  .dashbot-row__6 .bigFont {
    font-size: 80px;
  }
}
@media only screen and (min-height: 700px) {
  .dashbot-row__6 .bigFont {
    font-size: 120px;
  }
}
@media only screen and (min-height: 1000px) {
  .dashbot-row__6 .bigFont {
    font-size: 160px;
  }
}
.dashbot-row__6 .mediumFont {
  font-size: 12px;
}
@media only screen and (min-height: 400px) {
  .dashbot-row__6 .mediumFont {
    font-size: 18px;
  }
}
@media only screen and (min-height: 700px) {
  .dashbot-row__6 .mediumFont {
    font-size: 24px;
  }
}
@media only screen and (min-height: 1000px) {
  .dashbot-row__6 .mediumFont {
    font-size: 30px;
  }
}
.dashbot-row__7 {
  height: 14.28%;
}
.dashbot-row__7 .bigFont {
  font-size: 40px;
}
@media only screen and (min-height: 400px) {
  .dashbot-row__7 .bigFont {
    font-size: 40px;
  }
}
@media only screen and (min-height: 700px) {
  .dashbot-row__7 .bigFont {
    font-size: 60px;
  }
}
@media only screen and (min-height: 1000px) {
  .dashbot-row__7 .bigFont {
    font-size: 80px;
  }
}
.dashbot-row__7 .mediumFont {
  font-size: 12px;
}
@media only screen and (min-height: 400px) {
  .dashbot-row__7 .mediumFont {
    font-size: 12px;
  }
}
@media only screen and (min-height: 700px) {
  .dashbot-row__7 .mediumFont {
    font-size: 18px;
  }
}
@media only screen and (min-height: 1000px) {
  .dashbot-row__7 .mediumFont {
    font-size: 24px;
  }
}
.dashbot-row__8 {
  height: 12.5%;
}
.dashbot-row__8 .bigFont {
  font-size: 40px;
}
@media only screen and (min-height: 400px) {
  .dashbot-row__8 .bigFont {
    font-size: 40px;
  }
}
@media only screen and (min-height: 700px) {
  .dashbot-row__8 .bigFont {
    font-size: 60px;
  }
}
@media only screen and (min-height: 1000px) {
  .dashbot-row__8 .bigFont {
    font-size: 80px;
  }
}
.dashbot-row__8 .mediumFont {
  font-size: 12px;
}
@media only screen and (min-height: 400px) {
  .dashbot-row__8 .mediumFont {
    font-size: 12px;
  }
}
@media only screen and (min-height: 700px) {
  .dashbot-row__8 .mediumFont {
    font-size: 18px;
  }
}
@media only screen and (min-height: 1000px) {
  .dashbot-row__8 .mediumFont {
    font-size: 24px;
  }
}
.dashbot-col__visual {
  display: table;
  box-sizing: border-box;
  color: rgba(255,255,255,0.7);
  height: 100%;
  width: 100%;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.dashbot-col-visual__valign {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}
.dashbot-col-visual-valign__data {
  vertical-align: middle;
}
.loading .dashbot-col-visual__valign {
  background-image: url("images/spinner.svg");
  background-size: auto 200%;
  background-repeat: no-repeat;
  background-position: center;
}
.dashbot-col-visual__none {
  filter: grayscale(100%);
  transition: filter 1s ease-in-out, background-color 1s ease-in-out;
}
.dashbot-col-visual__red {
  filter: grayscale(0);
  background-color: rgba(255,0,192,0.4);
  transition: filter 1s ease-in-out, background-color 1s ease-in-out;
}
.dashbot-col-visual__green {
  filter: grayscale(0);
  background-color: rgba(64,255,128,0.4);
  transition: filter 1s ease-in-out, background-color 1s ease-in-out;
}
.dashbot_visual__buildchain .value.ok:after {
  font-size: 40%;
  opacity: 0.5;
  content: '✓';
}
.dashbot_visual__buildchain .value.failure:not(:last-child):after {
  content: 'and';
  color: rgba(255,255,255,0.4);
  display: block;
  clear: both;
}
.dashbot_visual_graph__title {
  position: absolute;
  margin-left: 3%;
}
dashbot_visual-graph__svg {
  border: solid #f00 1px;
  width: 10px;
  height: 10px;
}
svg {
  width: 100%;
  height: 180px;
}
.dashbot_visual__number :after {
  font-size: 40%;
  opacity: 0.5;
}
.value.unit_bytes.b:after {
  content: 'B';
}
.value.unit_bytes.kb:after {
  content: 'KB';
}
.value.unit_bytes.mb:after {
  content: 'MB';
}
.value.unit_percent.percent:after {
  content: '%';
}
.dashbot_visual__weather .value.unit_c:after {
  content: 'C';
  font-size: 40%;
  opacity: 0.5;
}
.dashbot_visual__weather .value.unit_f:after {
  content: '°F';
  font-size: 40%;
  opacity: 0.5;
}
/*# sourceMappingURL=app.css.map */