.tile
  background-repeat no-repeat
  background-size cover
  background-position center
  color rgba(255,255,255,0.7)
  flex 1
  text-align center

.tile .value
  font-size 40px
  padding-top 10%

.tile .text
  font-size 30px

.gray
  filter grayscale(100%)
  transition filter 1s ease-in-out background-color 1s ease-in-out

.red
  filter grayscale(0)
  background-color rgba(255, 0, 192, .4)
  transition filter 1s ease-in-out background-color 1s ease-in-out

.green
  filter grayscale(0)
  background-color rgba(64, 255, 128, .4)
  transition filter 1s ease-in-out background-color 1s ease-in-out
